.jumbotron{
	background-color: blue;
	color: white;
}

footer{
	padding:  10px 10px 0px 10px;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	margin-top: 20px;
}

.card-hotel{
	flex: 1 230px;
	padding: 2px 5px 2px 5px;
	margin-top: 15px 
}

.btn-reserva{
	width: 100%;
}